automatizaciones/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserva-agora",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "51e1a74a-8ea6-4899-bdb0-e502876bca63",
      "name": "Webhook",
      "webhookId": "628288cd-c69f-4c3b-b3e7-b5577a244430"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LdM7r1uRSs6sfq_vxs-YUQKWTjxRfRKWddPJjJQLA8w/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LdM7r1uRSs6sfq_vxs-YUQKWTjxRfRKWddPJjJQLA8w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.body.nombre }}",
            "correo": "={{ $json.body.correo }}",
            "taller": "={{ $json.body.taller }}",
            "fecha": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taller",
              "displayName": "taller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b1faaede-160c-44ba-9e59-f73cc28352eb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZxZGpyMybs3B19bR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.correo }}",
        "subject": "Reserva confirmada - Ágora Creativa",
        "emailType": "text",
        "message": "=Hola {{ $json.nombre }}  Gracias por reservar en Ágora Creativa.  Tu solicitud para el taller: {{ $json.taller }}  ha sido recibida correctamente.  Pronto te contactaremos.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "ab46dcf5-1b8d-4586-b303-dad1028501aa",
      "name": "Send a message",
      "webhookId": "5dfe36c2-398a-499e-8534-58fb95decff2",
      "credentials": {
        "gmailOAuth2": {
          "id": "RHLpIwg28wxL6LVW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81ebc3ac-be9d-4a36-92db-50838848ea38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "410a7e2f5613dd9499f120371a9dc79c86fc36c002968628964eab89b7a0f939"
  },
  "id": "wv0vVjdhcx6sUg2C",
  "tags": []
}